.btn-site
  background-color: $amarelo
  color: $verde
  text-transform: uppercase
  +font-size(20px)
  padding: 8px 40px
  display: inline-block
  font-weight: 600
  +default_transition()
  &:hover
    text-decoration: none
    color: $verde
    +filter(brightness(.9))