section.header-interna
  height: 240px
  background-color: $verde
  padding-top: 70px
  position: relative
  .container
    display: flex
    align-items: center
    height: 100%
    position: relative
    h1, h2
      color: $branco
      +font-size(32px)
      font-weight: 700

    .header-breadcrumb
      position: absolute
      bottom: 12px
      p
        color: #adadad
        a
          color: $amarelo
          text-decoration: underline
          margin-right: 5px
        i
          margin-right: 5px
          color: #999