main.site-content
  height: 100%
  div, span
    font-family: $font-default

  // Seções
  section.site-sections
    padding: 70px 0
    background-blend-mode: multiply
    &.background-cover
      background-size: cover
    &.background-center
      background-position: center
    &.background-fixed
      background-attachment: fixed
    &.extra-padding
      padding: 70px 0 140px
    &.super-padding
      padding: 70px 0
      +breakpoint(sm)
        padding: 140px 0
    &.grey-sections
      background-color: #eeeeee
    &.dark-sections
      .section-title
        h1, h2, p
          color: $branco
      .editor-content
        *
          color: $branco
    .section-title
      margin-bottom: 20px
      +breakpoint(sm)
        margin-bottom: 30px
      h1, h2
        margin-bottom: 0
        font-weight: 700
        line-height: 30px
        color: $verde
        +font-size(24px)
        +breakpoint(sm)
          line-height: 38px
          +font-size(30px)
      p
        +font-size(18px)
        margin-bottom: -14px
      &.have-after
        &:after
          content: ''
          position: relative
          z-index: 1
          margin: 2rem 0
          background-color: $amarelo
          width: 50px
          height: 2px
          display: block

    .pagination
      margin: 60px 0 0
      ul
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        li
          margin-right: 1rem
          &:last-child
            margin-right: 0
          a
            color: $amarelo
            +font-size(14px)
            &.page-numbers
              &.next,
              &.prev
                width: 24px
                height: 24px
                +flex-center-center()
                border: 1px solid $amarelo
                +border-radius(100px)
                &:hover
                  text-decoration: none
                  background-color: $amarelo
                  color: $branco
          &.pagina-atual
            a
              color: #707070

    // SINGLE
    &.section-single
      
      figure.single-thumbnail
        margin-bottom: 1.5rem
        +flex-center-center()
        +breakpoint(sm)
          margin-bottom: 2.5rem
      
      .post-info
        margin-top: -10px
        margin-bottom: 1.5rem
        p, time
          font-style: italic
          color: #888888
          a
            color: $amarelo

    .widget-single
      margin-bottom: 3rem
      .widget-title
        h3
          color: $verde
          +font-size(26px)
          font-weight: 600
        &:after
          content: ''
          position: relative
          z-index: 1
          margin: 8px 0 2rem
          background-color: $amarelo
          width: 50px
          height: 2px
          display: block
      .widget-content
        &.related-posts
          ul
            li
              margin-bottom: 1.5rem
              a
                color: $verde
                span
                  &.post-title
                    font-weight: 600
                    display: block
                    margin-bottom: 6px
                    +font-size(22px)
                  &.post-date
                    font-style: italic
                    +font-size(14px)
                    color: #888888
                &:hover
                  text-decoration: none
        
        &.list-categories
          li
            margin-bottom: 10px
            &.current-cat
              > a
                color: #888888
            a
              color: $verde
          ul
            position: relative
            &.children
              margin-left: 30px
              margin-top: 12px
              li
                list-style-type: disc

        &.widget-search
          .wp-block-search__label
            display: none

    // Eventos
    .eventos-info
      margin-bottom: 2rem
      ul
        display: flex
        flex-wrap: wrap
        +breakpoint(md)
          flex-wrap: nowrap
        li
          padding: 1rem
          margin-bottom: 1rem
          border: 1px solid $amarelo
          min-width: 100px
          margin-right: 1rem
          +breakpoint(sm)
            margin-right: 2rem
          span
            color: $verde
            +font-size(14px)
            &.featured-number
              +font-size(34px)
              font-weight: 600

          &.event-address
            +flex-center-center()
            address
              color: $verde
              +font-size(14px)
              line-height: 20px

          &.event-link
            border: 0
            padding: 0
            position: relative
            margin-right: 0
            a
              height: 100%
              width: 100%
              text-align: center
              color: $verde
              text-transform: uppercase
              line-height: 28px
              padding: 1rem 25px
              +font-size(20px)
              +flex-center-center()
              background-color: $amarelo
              font-weight: 600
              &:hover
                text-decoration: none
                +filter(brightness(.9))
  // Reset do editor de texto
  .editor-content
    +font-size(16px)
    line-height: 28px
    p
      +font-size(16px)
      line-height: 28px
    img.aligncenter
      margin: 0 auto
      display: block
    img
      max-width: 100%
      height: auto
    h1, h2, h3, h4, h5, h6
      font-weight: 700
      color: $verde
      margin-bottom: 1rem
    h1
      +font-size(36px)
    h2
      +font-size(30px)
    h3
      +font-size(24px)
    h4
      +font-size(18px)
    h5
      +font-size(14px)
    h6
      +font-size(12px)

    ul, ol
      margin: 1rem 0
      li
        margin-bottom: 10px
        margin-left: 1rem
      
    ul
      li
        list-style-type: disc

    ol
      li
        list-style-type: decimal

    blockquote
      border-left: 2px solid $amarelo
      padding: 0 0 0 1.5rem

    &.editor-content-painel
      p
        margin-bottom: 1.2rem
      h1, h2, h3, h4, h5, h6
        margin-top: 1rem

  // Cards do site formato link
  .box-default-link
    display: inline-block
    cursor: pointer
    height: 100%
    &:hover,
    &:focus
      text-decoration: none
      +shadow(0 5px 20px rgba($preto, .3))
      .btn-link
        .arrow-btn-link
          width: 30px
      .box-default
        &:after
          height: 5px 
      .box-image
        img
          +transform(scale(1.1))

  // Cads do site padrão sem fundo
  .no-appearance
    .box-default
      +shadow(initial)
      background-color: $transparent
      padding: 0
      figure.box-image
        margin: 0
        margin-bottom: 1rem
      &:after
        content: initial
      hr.line-separator
        max-width: 60px
      .editor-content
        p
          +clamp(initial)
  // Cards do site padrão
  .box-default
    background-color: $branco
    +shadow(0 0 3px rgba($paragrafo, .3))
    padding: 22px 30px
    position: relative
    overflow: hidden
    height: 100%
    &:after
      content: ''
      position: absolute
      bottom: 0
      width: 100%
      height: 1px
      +default_transition()
      background-color: $amarelo
      left: 0
    .box-icon
      min-height: 160px
      +flex-center-center()
    figure.box-image
      +flex-center-center()
      margin: -2rem
      margin-bottom: 1rem
      overflow: hidden
      img
        +default_transition()
        height: auto
        max-width: 100%
    h3
      +font-size(22px)
      line-height: 32px
      +clamp(2)
      color: $verde
      font-weight: 600
    .line-separator
      margin: 1rem 0
      height: 1px
      width: 100%
      border: 0
      background-color: $amarelo

    .post-info
      +font-size(14px)
      line-height: 20px
      font-style: italic
      color: #888
      margin-bottom: 16px
      span
        font-weight: 600
        color: $amarelo

    .editor-content
      p
        +clamp(4)
    
    // Box com data
    &.box-default-date
      display: flex
      padding: 1rem
      +breakpoint(sm)
        padding: 22px 30px
      .box-date
        min-width: 78px
        border: 1px solid $amarelo
        padding: 1.2rem 1rem
        display: flex
        justify-content: center
        flex-direction: column
        p
          margin-bottom: 0
          text-align: center
          margin-bottom: 5px
          &.date-day
            +font-size(32px)
            font-weight: 600
          &.date-month
            +font-size(16px)
            font-weight: 600
          &.date-year
            margin-bottom: 18px
            padding-bottom: 18px
            border-bottom: 1px solid $amarelo
          &.date-time
            margin-bottom: 0
      .box-content
        padding-left: 1rem
        +breakpoint(sm)
          padding-left: 1.7rem

  // Default Slider
  .default-slider
    .splide__slide
      padding: 1rem 0 1.4rem
    .splide__arrows
      display: flex
      justify-content: space-between
      max-width: 75px
      position: absolute
      margin: auto
      left: 0
      right: 0
      bottom: -70px
      .splide__arrow
        width: 30px
        height: 30px
        position: relative
        border: 1px solid $paragrafo
        background-color: $transparent
        top: initial
        +transform(translateY(0))
        svg
          width: 14px
          height: 14px
        &.splide__arrow--prev
          left: 0
        &.splide__arrow--next
          right: 0