.home-webdoor
  height: 100%
  position: relative
  background-color: $verde
  display: flex
  align-items: center
  .webdoor-content
    h1
      color: $branco
      font-weight: 700
      +font-size(32px)
      line-height: 38px
      margin-bottom: 15px
      max-width: 360px
      +breakpoint(sm)
        max-width: 460px
        margin-bottom: 20px
        line-height: 50px
        +font-size(44px)
    p
      margin-bottom: 35px
      max-width: 540px
      color: $branco
      line-height: 28px
      +font-size(18px)
      +breakpoint(sm)
        line-height: 32px
        +font-size(22px)